<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/util
   		   http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="student" class="net.genspark.demo.Student">
        <property name="name" value="Carl Clarke"/>
        <property name="id" value="12345"/>
        <property name="address" ref="address"/>
        <property name="phones" ref="phones"/>
    </bean>

    <bean id="phone1" class="net.genspark.demo.Phone">
        <property name="mobile" value="123456789"/>
    </bean>
    <bean id="phone2" class="net.genspark.demo.Phone">
        <property name="mobile" value="987654321"/>
    </bean>

    <bean id="address" class="net.genspark.demo.Address">
        <property name="city" value="Atlanta"/>
        <property name="zip" value="12345"/>
        <property name="country" value="USA"/>
        <property name="state" value="Georgia"/>
    </bean>

    <util:list id="phones" value-type="net.genspark.demo.Phone">
        <ref bean="phone1"/>
        <ref bean="phone2"/>
    </util:list>
</beans> 